:root {
  --body-background: #353839;
  --calculator: #808080;
  --calculator-shadow: #606060;
  --disp-background: #ddd;
  --disp-res-font: black;
  --disp-calc-font: #606060;
  --disp-wrong-input: #c93e3e;
  --disp-scroll-primary: #606060;
  --key-primary: #dddddd;
  --key-operator: #ffa343;
  --key-del: #de5952;
  --key-equ: #3cb371;
  --key-other: #bdbdbd;
  --key-shadow: #606060;
  --key-operator-shadow: #a87022;
  --key-del-shadow: #822c27;
  --key-equ-shadow: #428742;
  --key-other-shadow: #555;
  --history-scroll-primary: #f2a941;
  --history-scroll-secondary: #808080;
  --history-font-odd: #adadad;
  --history-font-even: white;
  --history-border: #aaa;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--body-background);
  transition: background 1.8s;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 34px;
}

.calculator {
  background-color: var(--calculator);
  padding: 22px;
  max-width: 290px;
  width: 100%;
  min-height: 420px;
  border-radius: 0.8em;
  box-shadow: 0 0.8em 0 0.1em var(--calculator-shadow);
  transition: background 1.8s;
}

.display {
  text-align: right;
  padding: 0 8px;
  background-color: var(--disp-background);
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.3) inset;
  box-sizing: border-box;
  border: none;
  height: 70px;
  overflow-x: auto;
  overflow-y: hidden;
  direction: rtl;
  white-space: nowrap;
  word-wrap: break-word;
  transition: 0.8s, background 1.8s;
  scrollbar-color: rgba(0, 0, 0, 0.2) var(--disp-scroll-primary);
  scrollbar-width: thin;
}

.result,
.this-calculator {
  unicode-bidi: bidi-override;
  direction: ltr;
  transition: color 1.8s;
}

.this-calculator {
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  color: var(--disp-calc-font);
  padding-right: 2px;
}

.result {
  font-size: 26px;
  line-height: 34px;
  height: 34px;
  color: var(--disp-res-font);
}

.row {
  display: flex;
  gap: 20px;
}

.button {
  line-height: 56px;
  width: 56px;
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  background-color: var(--key-primary);
  border-radius: 0.2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 0 1px var(--key-shadow);
  transition: 0.8s, font-size 0s;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.number:active {
  transition: 80ms;
  box-shadow: 0 2px 0 1px var(--key-shadow) inset;
  font-size: 18px;
}

.operator-orange {
  background-color: var(--key-operator);
  box-shadow: 0 4px 0 1px var(--key-operator-shadow);
}

.operator-orange:active {
  transition: 80ms;
  box-shadow: 0 2px 0 1px var(--key-operator-shadow) inset;
  font-size: 18px;
}

.operator-red {
  background-color: var(--key-del);
  box-shadow: 0 4px 0 1px var(--key-del-shadow);
}

.operator-red:active {
  transition: 80ms;
  box-shadow: 0 2px 0 1px var(--key-del-shadow) inset;
  font-size: 18px;
}

.operator-green {
  background-color: var(--key-equ);
  box-shadow: 0 4px 0 1px var(--key-equ-shadow);
}

.operator-green:active {
  transition: 80ms;
  box-shadow: 0 2px 0 1px var(--key-equ-shadow) inset;
  font-size: 18px;
}

.operator-grey {
  background-color: var(--key-other);
  box-shadow: 0 4px 0 1px var(--key-other-shadow);
}

.operator-grey:active {
  transition: 80ms;
  box-shadow: 0 2px 0 1px var(--key-other-shadow) inset;
  font-size: 18px;
}

.empty,
.history {
  border: 2px solid var(--history-border);
  padding: 10px;
  text-align: left;
  min-width: 334px;
  min-height: 474px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2) inset;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  scrollbar-color: var(--history-scroll-primary) var(--history-scroll-secondary);
  scrollbar-width: thin;
}

.empty {
  visibility: hidden;
}

.tools-bar {
  height: 45px;
  margin-top: 7px;
  text-align: center;
}

.theme-switch {
  margin: 0 4px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 2em;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: var(--calculator);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 1px var(--key-shadow);
  transition: 0.8s, font-size 0s, content 10s;
}

.theme-switch:active {
  transition: 80ms;
  box-shadow: 0 1px 0 1px var(--key-shadow) inset;
  font-size: 16px;
}

.theme-switch:hover {
  filter: brightness(0.9);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--calculator);
  box-shadow: 0 4px 0 1px var(--calculator-shadow);
}

.history-ul {
  font-size: 25px;
  color: var(--disp-background);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  list-style-type: none;
  padding-left: 0;
}

.history-btn__green {
  background: var(--key-equ);
  border: 1px solid var(--key-other);
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px var(--key-equ-shadow) inset,
    0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 2vw;
  width: 2vw;
}

.history-btn__green:hover {
  background: #333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.32) inset;
  transition: 0.3s;
}

.history-btn__red {
  background: var(--key-del);
  border: 1px solid var(--key-other);
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px var(--key-del-shadow) inset,
    0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 2vw;
  width: 2vw;
}

.history-btn__red:hover {
  background: #333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.32) inset;
  transition: 0.3s;
}

.remove-li {
  color: var(--key-del);
  text-decoration: none;
  text-transform: uppercase;
}
.remove-li:hover {
  color: var(--key-del-shadow);
  transition: 0.3s;
}

.history-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.history-li__special {
    text-decoration: underline;
}

.error {
  color: var(--disp-wrong-input);
}
