html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@mixin btn {
    background-color: $button_bg_color;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    font-family: $h_font_fam;
    font-size: 16px;
}

$colors: (
    default: white
);

body {
    background-color: $body_bg_color;
}

.header {
    background-image: $bg_img;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-bottom-right-radius: 40%; 
    

    &-wrap {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        
        .landing-display {
            display: flex;
        }

        .landing-logo {
            @extend .landing-display;
            position: relative;
            flex-direction: row;
            margin-top: 50px;
            margin-bottom: 80px;
        }
        .landing-logo>img {
            margin-right: 30px;
        }
        .landing-logo>p {
            font-size: 28px;
            font-weight: bolder;
            font-family: $logo_font_fam;
            color: $logo_font_color;
            letter-spacing: $logo_spacing;
        }
        .landing-logo>p>span {
            position: absolute;
            top: 35px;
            left: 78px;
            font-size: 12px;
            font-family: $logo_font_fam;
            color: $logo_font_color;
            letter-spacing: $logo_spacing;
        }
    }

    &_heading {
        width: 400px;
        font-size: 40px;
        font-weight: bold;
        font-family: $h_font_fam;
        color: $h_font_color;
        position: relative;
        z-index: 10;

        .header_heading-span {
            position: absolute;
            top: 50px;
            left: 0;
            content: '';
            width: $h_span_width;
            height: 30px;
            background-color: $h_span_bg_color;
            z-index: -1;
        }
    }

    &_text {
        margin-top: 60px;
        margin-bottom: 60px;
        line-height: 25px;
        font-family: $hd_font_fam;
        color: $hd_font_color;
    }

    &_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 400px;

        .header_button {
          @include btn;
        }

        @mixin link {
            color: white;
            font-family: $h_font_fam;
            font-size: 16px;
        }
        .login {
            @include link;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 960px;

    &_text {
        position: relative;
        color: $m_text_col;
        font-family: $m_font_fam;
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        z-index: 10;

        .section_text-span {
            position: absolute;
            top: 5px;
            right: 10px;
            content: '';
            width: $m_span_width;
            height: 40px;
            background-color: $m_span_bg_color;
            z-index: -1;
        }
    }

    &_card_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section_card {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 220px;
            width: 800px;
            background-color: $m_sec_card_bg_color;
            margin: 20px;
            border-radius: 5px;

            .section_card_img {
                height: 195px;
                padding: 15px;
                margin-right: 60px;
                border-radius: 5%;
            }

            .section_card_right_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 400px;
                height: 160px;

                .section_card_heading {
                    font-size: 18px;
                    font-family: $m_sec_card_h_font_fam;
                    color: map-get($colors, default);
                    margin-top: 10px;
                    margin-bottom: 20px;
                }

                .section_card_text {
                    color: #BEC2D4;
                    font-size: 10px;
                    width: 300px;
                    font-family: $m_sec_card_t_font_fam;
                    line-height: 20px;
                    margin-bottom: 20px;
                }

                .section_link {
                    color: #BEC2D4;
                    font-size: 10px;
                }
            }
        }
    }

    &_banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 840px;
        height: 100px;
        background-image: $m_sec_banner_bg_color;
        margin-bottom: -70px;
        border-radius: 5px;

        .section_banner_text_wrap {
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .section_banner_heading {
                color: $m_sec_banner_h_color;
                font-family: $m_sec_banner_h_font_fam;
                font-weight: bold;
                font-size: 20px;
                position: relative;
                z-index: 10;

                .section_banner_heading-span {
                    position: absolute;
                    top: -5px;
                    left: 80px;
                    content: '';
                    width: 45px;
                    height: 30px;
                    background-color: $m_span_bg_color;
                    z-index: -1;
                }
            }

            .section_banner_text {
                color: #A4BFCE;
                font-family: $m_sec_banner_h_font_fam;
                font-size: 12px;
            }
        }

        .section_banner_button {
            @include btn;
        }
    }
}

.footer {
    background-color: $f_bg_color;

    .footer-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        padding-top: 40px;

        .footer_logo {
            position: relative;
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            margin-bottom: 80px;
        }
        .footer_logo>img {
            margin-right: 30px;
        }
        .footer_logo>p {
            font-size: 28px;
            font-weight: bolder;
            font-family: $logo_font_fam;
            color: $f_logo_color;
            letter-spacing: $logo_spacing;
        }
        .footer_logo>p>span {
            position: absolute;
            top: 40px;
            left: 78px;
            font-size: 12px;
            font-family: $logo_font_fam;
            color: $f_logo_color;
            letter-spacing: $logo_spacing;
        }

        .footer_text {
            color: #a0a0a0;
            width: 310px;
            line-height: 20px;
            font-family: $f_font_family;
        }

        .footer-cr {
            color: #a0a0a0;
            font-family: $f_font_family;
        }
    }
}