$body_bg_color: #21232E;
$bg_img: url("../img/m-h-night.jpg");

$logo_font_color: white;
$logo_spacing: 0;
$logo_font_fam: 'Fresca', sans-serif;

$h_font_fam: 'Fresca', sans-serif;
$h_font_color: white;
$h_span_bg_color: #FF4E33;
$h_span_width: 155px;

$hd_font_fam: 'Fresca', sans-serif;
$hd_font_color: white;

$button_bg_color: #E3AC00;

$m_text_col: white;
$m_font_fam: 'Source Sans Pro', sans-serif;
$m_span_width: 170px;
$m_span_bg_color: #FF4E33;

$m_sec_card_bg_color: #3B3F50;
$m_sec_card_h_font_fam: 'Source Sans Pro', sans-serif;
$m_sec_card_t_font_fam: 'Hind', sans-serif;

$m_sec_banner_bg_color: linear-gradient(to right, #DDA107, #97344D);
$m_sec_banner_h_color: white;
$m_sec_banner_h_font_fam: 'Source Sans Pro', sans-serif;

$f_bg_color: #3B3F50;

$f_logo_color: white;
$f_font_family: 'Fresca', sans-serif;