$body_bg_color: white;
$bg_img: url("../img/m-h-day.jpg");

$logo_font_color: #2C3140;
$logo_spacing: 1px;
$logo_font_fam: 'Source Sans Pro', sans-serif;

$h_font_fam: 'Source Sans Pro', sans-serif;
$h_font_color: #2C3140;
$h_span_bg_color: #14A0C7;
$h_span_width: 167px;

$hd_font_fam: 'Source Sans Pro', sans-serif;
$hd_font_color: #2C3140;

$button_bg_color: #699900;

$m_text_col: #2C3140;
$m_font_fam: 'Source Sans Pro', sans-serif;
$m_span_width: 170px;
$m_span_bg_color: #14A0C7;

$m_sec_card_bg_color: #21232E;
$m_sec_card_h_font_fam: 'Source Sans Pro', sans-serif;
$m_sec_card_t_font_fam: 'Hind', sans-serif;

$m_sec_banner_bg_color: linear-gradient(to right, #629218, #315FCA);
$m_sec_banner_h_color: #2B2E3C;
$m_sec_banner_h_font_fam: 'Source Sans Pro', sans-serif;

$f_bg_color: #21232E;

$f_logo_color: white;
$f_font_family: 'Hind', sans-serif;