html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: white; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-bottom-right-radius: 40%; }
  .header-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 200px; }
    .header-wrap .landing-display, .header-wrap .landing-logo {
      display: flex; }
    .header-wrap .landing-logo {
      position: relative;
      flex-direction: row;
      margin-top: 50px;
      margin-bottom: 80px; }
    .header-wrap .landing-logo > img {
      margin-right: 30px; }
    .header-wrap .landing-logo > p {
      font-size: 28px;
      font-weight: bolder;
      font-family: "Source Sans Pro", sans-serif;
      color: #2C3140;
      letter-spacing: 1px; }
    .header-wrap .landing-logo > p > span {
      position: absolute;
      top: 35px;
      left: 78px;
      font-size: 12px;
      font-family: "Source Sans Pro", sans-serif;
      color: #2C3140;
      letter-spacing: 1px; }
  .header_heading {
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    color: #2C3140;
    position: relative;
    z-index: 10; }
    .header_heading .header_heading-span {
      position: absolute;
      top: 50px;
      left: 0;
      content: '';
      width: 167px;
      height: 30px;
      background-color: #14A0C7;
      z-index: -1; }
  .header_text {
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 25px;
    font-family: "Source Sans Pro", sans-serif;
    color: #2C3140; }
  .header_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px; }
    .header_links .header_button {
      background-color: #699900;
      color: white;
      border: 0;
      cursor: pointer;
      border-radius: 5px;
      width: 110px;
      height: 40px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px; }
    .header_links .login {
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 960px; }
  .section_text {
    position: relative;
    color: #2C3140;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 10; }
    .section_text .section_text-span {
      position: absolute;
      top: 5px;
      right: 10px;
      content: '';
      width: 170px;
      height: 40px;
      background-color: #14A0C7;
      z-index: -1; }
  .section_card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section_card_wrap .section_card {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 220px;
      width: 800px;
      background-color: #21232E;
      margin: 20px;
      border-radius: 5px; }
      .section_card_wrap .section_card .section_card_img {
        height: 195px;
        padding: 15px;
        margin-right: 60px;
        border-radius: 5%; }
      .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 160px; }
        .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 18px;
          font-family: "Source Sans Pro", sans-serif;
          color: white;
          margin-top: 10px;
          margin-bottom: 20px; }
        .section_card_wrap .section_card .section_card_right_container .section_card_text {
          color: #BEC2D4;
          font-size: 10px;
          width: 300px;
          font-family: "Hind", sans-serif;
          line-height: 20px;
          margin-bottom: 20px; }
        .section_card_wrap .section_card .section_card_right_container .section_link {
          color: #BEC2D4;
          font-size: 10px; }
  .section_banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 840px;
    height: 100px;
    background-image: linear-gradient(to right, #629218, #315FCA);
    margin-bottom: -70px;
    border-radius: 5px; }
    .section_banner .section_banner_text_wrap {
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #2B2E3C;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        z-index: 10; }
        .section_banner .section_banner_text_wrap .section_banner_heading .section_banner_heading-span {
          position: absolute;
          top: -5px;
          left: 80px;
          content: '';
          width: 45px;
          height: 30px;
          background-color: #14A0C7;
          z-index: -1; }
      .section_banner .section_banner_text_wrap .section_banner_text {
        color: #A4BFCE;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 12px; }
    .section_banner .section_banner_button {
      background-color: #699900;
      color: white;
      border: 0;
      cursor: pointer;
      border-radius: 5px;
      width: 110px;
      height: 40px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px; }

.footer {
  background-color: #21232E; }
  .footer .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-top: 40px; }
    .footer .footer-wrap .footer_logo {
      position: relative;
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      margin-bottom: 80px; }
    .footer .footer-wrap .footer_logo > img {
      margin-right: 30px; }
    .footer .footer-wrap .footer_logo > p {
      font-size: 28px;
      font-weight: bolder;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      letter-spacing: 1px; }
    .footer .footer-wrap .footer_logo > p > span {
      position: absolute;
      top: 40px;
      left: 78px;
      font-size: 12px;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      letter-spacing: 1px; }
    .footer .footer-wrap .footer_text {
      color: #a0a0a0;
      width: 310px;
      line-height: 20px;
      font-family: "Hind", sans-serif; }
    .footer .footer-wrap .footer-cr {
      color: #a0a0a0;
      font-family: "Hind", sans-serif; }

/*# sourceMappingURL=style1.css.map */
