html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: arial, sans-serif;
    font-size: 18px;
}

#chat-show, #chat-form {
    box-sizing: border-box;
}
  
#chat-show {
    padding-bottom: 60px;

}

.chatRow {
    display: flex;
    align-items: stretch;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.chatName, .chatMsg {
      padding: 5px;
}

.chatName {
    background: #025cff;
    color: #fff;
    margin-right:10px;
    box-sizing: border-box;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#chat-form {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #eee;
}

#chat-msg {
    width: 90%;
}

#chat-go {
    flex-grow: 1;
}

.chat-msg {
    display: flex;
    flex-direction:column;
}

.time-text {
    display: block;
    font-style: italic;
    text-align: right;
    margin: 0;
    font-size: 14px;
}
  