@media print {
    div.tm-main-content > #home {margin: 0}
    
    div.tm-sidebar, 
    div.tm-main-content > section > #about, 
    div.tm-main-content > .heading, 
    div.tm-main-content > section.blocks, 
    div.tm-main-content > #ideas, 
    div.tm-main-content > section.tm-content-box {
        display: none;
    }

    div.tm-main-content > section > div.tm-content-box {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.tm-team-description-container {
        max-width: 360px;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.tm-team-description-container >
    .tm-section-title {
        color: #3F43FF;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.tm-team-description-container >
    p.tm-section-description::first-letter {
        color: #87CEFA;
        font-size: 30px;
        padding-left: 30px;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.tm-team-description-container > 
    p.tm-section-description:nth-child(2) {
        font-style: italic;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.tm-team-description-container >
    p {
        line-height: 30px;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.flex-item >
    img {
        height: 175px;
        width: 175px;
    }

    div.tm-main-content > .tm-footer > .text-xs-center::first-letter,
    .tm-banner-text::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }
}

@media screen {
    #about {display: block}

    section {position: relative}

    section::before {
        border: 30px solid transparent;
        border-top: 0 solid transparent;
        border-right: 0 solid transparent;
        border-left: 230px solid lightskyblue;
        content: "";
        left: 0;
        top: 0;
        position: absolute;
    }

    div.tm-main-content >
    section >
    #about >
    .boxes >
    .box >
    .tm-box-bg-title:nth-child(odd):hover {
        background-color: #87CEFA;
        color: white;
        transition: 0.3s;
    }
    
    div.tm-main-content > section > div.tm-content-box {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }

    p::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }

    div.tm-main-content >
    section >
    div.tm-content-box >
    div.tm-team-description-container >
    p.tm-section-description::first-letter {
        padding-left: 30px;
    }

    div.tm-main-content > section > div.tm-content-box > div.tm-team-description-container > p.tm-section-description:nth-child(2),
    section.blocks > div.tm-team-description-container > p.tm-section-description:nth-child(2), 
    section.blocks > div.tm-content-box > ul.gallery-container > li.box-work > div > p,
    #ideas > div.carousel > div.carousel-inner > div.carousel-item > div.carousel-content > div.flex-item > p.tm-section-description {
        font-style: italic;
    }

    section.blocks >
    div.tm-content-box > 
    ul.gallery-container >
    li.box-work >
    div > 
    p::first-letter {
        color: black;
    } 

    section.blocks >
    div.tm-content-box > 
    ul.gallery-container >
    li.box-work:nth-child(even) {
        background-color: #F2F2F2;
    }

    section.blocks > div.tm-content-box > ul.gallery-container > li.box-work {padding: 10px}
    
    section.blocks,
    div.tm-sidebar > .tm-main-nav,
    #home,
    div.tm-content-box,
    #about, 
    section.tm-content-box {
        border-bottom: 0 solid grey;
        box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
                    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    }

    section.blocks > div.tm-content-box {box-shadow: none}

    #ideas >
    div.carousel >
    div.carousel-inner >
    div.carousel-item >
    div.carousel-content >
    div.flex-item >
    .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }

    div.tm-team-description-container > p,
    li.box-work > div > p,
    div.flex-item > p {
        line-height: 30px;
    }

    ol > li > a {color: black}

    ol > li > a:visited {text-decoration: underline lightblue}

    ol > li > a:hover {
        color: #87CEFA;
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    .padding-medium > ol > li:nth-child(1):after,
    .padding-medium > ol > li:nth-child(3):after {
        content: "New";
        color: red;
        font-size: 12px;
        vertical-align: super;
    }

    .contact-form > .btn {
        background-color: white;
        border: 1px solid #87CEFA;
        border-radius: 0;
        color: #87CEFA;
        height: 60px;
        width: 175px;
        float: right;
        transition: 0.3s;
    }
    
    .contact-form > .btn:hover {
        background-color: #87CEFA;
        border: 1px solid #4cb5f7;
        color: white;
    }

    .mandatory-field {position: relative}

    .mandatory-field::after {
        content: "*";
        color: red;
    }

    .tm-nav-item:hover {background-color: #F5F5F5}
}
