.area-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    min-height: 400px;
}

.area {
    width: 300px;
    height: 300px;
    background: #ffdead;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .reset__btn {
        text-align: center;
        width: 150px;
        height: 50px;
        font-size: 25px;
        background-color: #ffdead;
        border: 2px solid black;
        cursor: pointer;
        border-radius: 35%;
    }
    .reset__btn:hover {
        transition: 1s;
        background-color: #fcd191;
    }
    .reset__btn:active {
        opacity: 0.7;
    }
}

