.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fdf5e6;
    border: 3px solid #faebd7;

    .crosses {
        font-size: 20px;
        margin: 30px 30px;
    }

    .zeroes {
        font-size: 20px;
        margin: 30px 30px;
    }
}