*,::after,::before{box-sizing:border-box}html{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
}

.header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.cards__container {
  display: flex;
  flex-flow: column nowrap;
}

.header__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 400px;
  background-color: #76CCD7;
}

.header__title {
  color: #ffffff;
  font-size: 60px;
}

.text__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 400px;
  padding: 0 65px;
  background-color: #ffffff;
  position: relative;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0; 
  height: 0;
  border-top: 100px solid #76CCD7;
  border-left: 100px solid transparent;
}

.triangle-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 0;
  border-top: 100px solid #76CCD7;
  border-right: 100px solid transparent;
}

.triangle-one {
  display: none;
}

.triangle-two {
  display: none;
}

.triangle-three {
  display: none;
}

.header__text {
  font-size: 18px;
  font-style: italic;
  line-height: 36px;
  color: #666666;
}

.text__container:hover .triangle-one {
  display: block;
}

.text__container:hover .header__text {
  color: #76CDD8;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 450px;
  padding: 0 65px;
  background-color: #ffffff;
  position: relative;
}

.card__title {
  color: #76CDD8;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.card__text {
  font-style: italic;
  font-size: 20px;
  color: #666666;
  line-height: 30px;
}

.card__info:hover .triangle-two {
  display: block;
}

.card__info:hover .card__text {
  color: #76CDD8;
}

.card__button-container {
  display: flex;
  justify-content: flex-end;
  width: inherit;
  margin-top: 10px;
}

.card__button {
  width: 200px;
  height: 53px;
  background-color: #019999;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}

.card__button:hover {
  background-color: rgb(118, 205, 216);
}

.card__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 450px;
  background-color: #76CCD7;
  margin: 0;
}

.card__figure-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.card__figure-cap {
  color: #ffffff;
  font-size: 14px;
}

.card__img-container {
  height: inherit;
}

.card__img {
  width:600px;
  height: 447px;
  position: relative;
  z-index: 2;
}

.card__img:hover {
  transform: scale(1.1);
}

.unique-text {
  font-style: normal;
  font-size: 18px;
}

.card__span {
  color: #3589FF;
}

.card__info:hover .triangle-three {
  display: block;
}

.card__info:hover .header__text {
  color: #76CDD8;
}

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.main__section-one {
  height: 600px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 30px;
}

.section-one__info {
  display: flex;
  flex-flow: column nowrap;
  padding: 70px 80px 0 70px
}

.section-one__title {
  color: #76CDD8;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.section-one__text {
  font-size: 20px;
  color: #666666;
  line-height: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.section-one__button-container {
  display: flex;
  justify-content: flex-end;
}

.section-one__button {
  width: 200px;
  height: 53px;
  background-color: #019999;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}

.section-one__button:hover {
  background-color: rgb(118, 205, 216)
}

.section-one__img {
  width: 380px;
  height: 600px;
}

.section-one__img:hover {
  transform: scale(1.1);
}

.main__section-two {
  height: 600px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.section-two__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 340px;
  height: 540px;
  border: 1px solid #019999;
}

.section-two__card:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4; 
}

.section-two__img {
  width: 340px;
  height: 540px;
}

.section-two__img:hover {
  transform: scale(1.1);
}

.section-two__card-header {
  text-align: center;
  width: inherit;
  height: 120px;
  background-color: #019999;
}

.section-two__card-title {
  color: #ffffff;
}

.section-two__card-price {
  color: #ffffff;
}

.section-two__card-body {
  display: flex;
  flex-flow: column nowrap;
}

.section-two__card-list {
  list-style-type: none;
  margin-top: 50px;
}

.section-two__list-item {
  margin-bottom: 20px;
}

.section-two__card-btn {
  width: 200px;
  height: 53px;
  background-color: #019999;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid white;
}

.section-two__card-btn:hover {
  background-color: #22D5D4;
  border: 1px solid#019999;
}

.section-two__card-special {
  display: none;
}

.card__unique:hover {
  transform: scale(1.1);
}

.card-special__span {
  color: red;
}

.card__unique:hover .section-two__card-special {
  display: block;
  text-align: center;
  color: #22D5D4;
}

.main__section-three {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 555px;
}

.section-three__header {
  display: flex;
  align-items: center;
  height: 165px;
  background-color: #22D5D4;
  padding-left: 160px;
}

.section-three__title {
  color: #ffffff;
}

.section-three__form-container {
  background-color: #ffffff;
  width: 880px;
  margin: 0 auto;
  padding: 70px 80px 70px 80px;
  position: absolute;
  top: 110px;
  left: 160px;
}

.section-three__form {
  display: flex;
  flex-flow: row nowrap;
  width: 700px;
  height: 300px;
}

.form__name {
  width: 340px;
  height: 55px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.form__name:focus {
  border: 2px solid #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__email {
  width: 340px;
  height: 55px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.form__email:focus {
  border: 2px solid #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__position {
  width: 340px;
  height: 55px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.form__position:focus {
  border: 2px solid #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__salary {
  width: 340px;
  height: 55px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.form__salary:focus {
  border: 2px solid #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__message-container {
  margin-left: 30px;
}

.form__message {
  width: 340px;
  height: 200px;
  z-index: 1;
  position: relative;
  padding-left: 20px;
  padding-top: 15px;
}

.form__message:focus {
  border: 2px solid #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__message-icon {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  margin-left: -40px;
}

.form__button {
  display: block;
  width: 200px;
  height: 53px;
  background-color: #019999;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  margin: 0 auto;
}

.form__button:hover {
  background-color: #22D5D4;
  border: 1px solid#019999;
}

.section-three__footer {
  height: 275px;
  background-color: #019999;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 400px;
  padding: 0 250px;
  padding-top: 85px;
  justify-content: space-between;
}

.section-three__footer-title {
  color: #ffffff;
  margin-bottom: 10px;
}

.section-three__footer-text {
  color: #ffffff;
  margin-top: 10px;
  line-height: 30px;
}

.section-three__footer-text-second {
  color: #ffffff;
  line-height: 32px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__text {
  color: #666666;
}











