:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: hidden;
}

.header {
  max-width: 100%;
  width: 100%;
  min-height: 175px;
  background-color: var(--light);
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 6;
  overflow-x: hidden;
}

.header__title {
  font-family: var(--secondary-font);
}

.header__figure {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

.header__img {
  width: 85px;
  height: 60px;
}

.main {
  min-height: 1000px;
  margin: 10px 8px;
  background-color: var(--light);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 4;
}

.section {
  min-height: 1000px;
  padding: 35px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  min-height: 950px;
}

.grid__item {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}

.grid__item-1 {
  background-color: #E6DBD5; 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 5;
}

.grid__item-2 {
  background-color: #B7AB87; 
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 5;
}

.grid__item-3 {
  background-color: #FAB9EC; 
  grid-row-start: 7;
  grid-column-start: 1;
  grid-row-end: 10;
  grid-column-end: 5;
}

.grid__item-4 {
  background-color: #DBD9D5; 
  grid-row-start: 10;
  grid-column-start: 1;
  grid-row-end: 12;
  grid-column-end: 5;
}

.grid__item-5 {
  background-color: #DE86D6; 
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 4;
  grid-column-end: 9;
}

.grid__item-6 {
  background-color: #EFB959; 
  grid-row-start: 4;
  grid-column-start: 5;
  grid-row-end: 6;
  grid-column-end: 9;
}

.grid__item-7 {
  background-color: #975BCB; 
  grid-row-start: 6;
  grid-column-start: 5;
  grid-row-end: 9;
  grid-column-end: 9;
}

.grid__item-8 {
  background-color: #ACCCCE; 
  grid-row-start: 9;
  grid-column-start: 5;
  grid-row-end: 13;
  grid-column-end: 9;
}

.grid__item-9 {
  background-color: #9758B6; 
  grid-row-start: 1;
  grid-column-start: 9;
  grid-row-end: 6;
  grid-column-end: 13;
}

.grid__item-10 {
  background-color: #8A789D; 
  grid-row-start: 6;
  grid-column-start: 9;
  grid-row-end: 8;
  grid-column-end: 13;
}

.grid__item-11 {
  background-color: #8DB9CD; 
  grid-row-start: 8;
  grid-column-start: 9;
  grid-row-end: 13;
  grid-column-end: 13;
}

.aside {
  background-color: var(--light);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  min-height: 490px;
  padding: 20px 0;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 4;
  grid-column-end: 6;
  margin: 10px 8px;
  max-width: 460px;
  width: 100%;
  top: 0;
  position: sticky;
}

.aside__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.aside__title {
  font-family: var(--secondary-font);
}

.aside__subtitle {
  font-size: 24px;
  font-weight: bold;
}

.aside__text {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.aside__icon {
  max-width: 15px;
  width: 100%;
  height: 15px;
  color: var(--dark);
}

.footer {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6;
  background-color: var(--light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
  width: 100%;
  height: 185px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer__figure {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

.footer__img {
  width: 85px;
  height: 60px;
}

.footer__title {
  font-family: var(--secondary-font);
}

.footer__copy {
  font-weight: bolder;
}

@media screen and (max-width: 1200px){
.aside {
  position: static;
}

  .grid {
    grid-template-rows: repeat(19, 1fr);
    grid-template-columns: repeat(12,1fr);
  }

  .grid__item {
    padding-top: 10px;
  }

  .grid__item-1 {
     grid-column-start: 1;
     grid-column-end: 7;
  }
  
  .grid__item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .grid__item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .grid__item-4 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .grid__item-5 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  
  .grid__item-6 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  
  .grid__item-7 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  
  .grid__item-8 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  
  .grid__item-9 {
    grid-row-start: 12;
    grid-column-start: 1;
    grid-row-end: 17;
    grid-column-end: 7;
  }
  
  .grid__item-10 {
    grid-row-start: 13;
    grid-column-start: 7;
    grid-row-end: 15;
    grid-column-end: 13;
  }
  
  .grid__item-11 {
    grid-row-start: 15;
    grid-column-start: 7;
    grid-row-end: 20;
    grid-column-end: 13;
  }
}

@media screen and (max-width: 1030px){
  .main {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .aside {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 6;
    max-width: 1010px;
    width: 100%;
  }

  .footer {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .grid {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .grid__item {
    max-width: 500px;
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
  }

  .grid__item-1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  
  .grid__item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .grid__item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .grid__item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  .grid__item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  
  .grid__item-6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  
  .grid__item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  
  .grid__item-8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  
  .grid__item-9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  
  .grid__item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
  }
  
  .grid__item-11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
  }
}