@import "modules/normilize.scss";
@import "modules/header.scss";
@import "modules/game.scss";
@import "modules/footer.scss";

//@import "modules/*.scss";
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}