html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 920px;
    background-image: url(../img/apples.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 300px;
}

.header__nav {
    max-width: 500px;
    width: 100%;
}

.header__list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 70px;
}

.list-item {
    cursor: pointer;
}

.list-item__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
}

.header-logo-text {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
    margin-left: 70px;
}

.header__content {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 70px;
    letter-spacing: 10px;
    margin-bottom: 35px;
}

.header__title-span {
    font-size: 100px;
}

.header__text {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 180px;
}

.header__button {
    width: 300px;
    height: 70px;
    background-color: #343638;
    opacity: 0.8;
    border: 3px solid #FFF;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

.section-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    height: 430px;
}

.section-one__text-one {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 20px;
    margin-right: 190px;
    line-height: 25px;
    width: 590px;
    padding-left: 40px;
}

.section-one__text-one-span {
    font-weight: bold;
}

.section-one__text-two {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    width: 720px;
    line-height: 22px;
    padding-right: 40px;
}

.section-two {
    background-color: #F3F3F3;
    max-width: 100%;
    width: 100%;
}

.section-two__title {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 26px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.section-two__title-span {
    font-weight: bold;
}

.section-two__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.section-two__content-card-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}

.card-one__image {
    max-width: 950px;
    width: 100%;
    max-height: 370px;
    height: 100%;
    margin-right: 30px;
    box-shadow: inset 0 0 100px black;
}

.card-one__text {
    text-align: center;
    max-width: 510px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 26px;
}

.section-two__content-card-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}

.card-two__image {
    max-width: 950px;
    width: 100%;
    max-height: 370px;
    height: 100%;
    margin-right: 30px;
    box-shadow: inset 0 0 100px black;
}

.card-two__text {
    text-align: center;
    max-width: 510px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 26px;
}

.section-two__content-card-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}

.card-three__image {
    max-width: 950px;
    width: 100%;
    max-height: 370px;
    height: 100%;
    margin-right: 30px;
}

.card-three__text {
    text-align: center;
    max-width: 510px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 26px;
}

.section-two__content-card-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    max-width: 100%;
}

.card-four__image {
    max-width: 950px;
    width: 100%;
    max-height: 370px;
    height: 100%;
    margin-right: 30px;
}

.card-four__text {
    text-align: center;
    max-width: 510px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 26px;
}

.section-two__sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    max-width: 1490px;
    width: 100%;
    height: 185px;
    margin-bottom: 65px;
}

.section-two__sub-text {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 24px;
    margin-right: 25px;
    margin-left: 33px;
}

.section-two__sub-text-span {
    font-weight: bold;
}

.section-two__sub-inp {
    width: 890px;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    padding-left: 40px;
    border: 2px solid #000;
    background-color: #F3F3F3;
}

.section-two__sub-inp::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
}

.section-two__sub-btn {
    width: 130px;
    height: 76px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #FFF;
    background-color: #343638;
    cursor: pointer;
}

.footer {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.footer__cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 130px;
}

.footer__card {
    display: flex;
    flex-direction: column;
    max-width: 345px;
    width: 100%;
}

.footer__card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 35px;
}

.footer__card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #9E9E9E;
    margin-bottom: 15px;
}

.ital {
    font-style: italic;
}

.footer__card-text-time {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #E8E8E8;
}

.footer__card-inp-container {
    width: 345px;
    display: flex;
    flex-direction: row;
}

.footer__card-inp {
    width: 250px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 17px;
    padding-left: 20px;
    border: 2px solid #000;
    background-color: #F3F3F3;
}

.footer__card-inp::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 17px;
}

.footer__card-btn {
    width: 100px;
    height: 56px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #FFF;
    background-color: #343638;
    cursor: pointer;
}

.footer__crossline {
    content: '';
    width: 1500px;
    height: 3px;
    margin: 0 auto;
    background-color: #F0F0F0;
    margin-top: 140px;
}

.footer__navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.footer__copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #9E9E9E;
    margin-left: 20px;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 20px;
}

.footer__link-item {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #000;
}


@media screen and (max-width:1150px) {
    .section-two__content-card-one {
        flex-direction: column;
    }

    .card-one__text {
        margin-top: 50px;
    }

    .section-two__content-card-two {
        flex-direction: column;
    }

    .card-two__text {
        margin-bottom: 50px;
    }

    .section-two__content-card-three {
        flex-direction: column;
    }

    .card-three__text {
        margin-top: 50px;
    }

    .section-two__content-card-four {
        flex-direction: column;
    }

    .card-four__text {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1250px) {
    .footer__cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .footer__card {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__crossline {
        margin-top: 70px;
    }
}

