/* START: Task 1 Styles */
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    width: 320px;
    height: 320px;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.cell-blue {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.cell-yellow {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.cell-green {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrong-inv {
    display: none;
}

.correct-inv {
    display: none;
}

.wrong {
    display: block;
    width: 400px;
    height: 100px;
    background-color: red;
}

.wrong>p {
    color: white;
    text-align: center;
    font-size: 26px;
}

.correct {
    display: block;
    width: 400px;
    height: 100px;
    background-color: green;
}

.correct>p {
    color: white;
    text-align: center;
    font-size: 26px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.phone-input {
    display: block;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    font-size: 14px;
    width: 300px;
    outline: none;
}

.phone-input:valid {
    border: 1px solid green;
}

.phone-input:invalid {
    border: 1px solid red;
}

.phone-input::placeholder {
    font-size: 14px;
    text-align: center;
}


.btn-submit-invalid {
    width: 54px;
    height: 54px;
    border: 1px solid black;
    margin-left: 15px;
    opacity: 0.5;
}

.btn-submit-valid {
    width: 54px;
    height: 54px;
    border: 1px solid black;
    margin-left: 15px;
    opacity: 1;
    color: black;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.field {
    position: relative;
    background-image: url("assets/court.png") ;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    width: 600px;
    height: 330px;
}

.main-field {
    position: absolute;
    width: 600px;
    height: 330px;
    z-index: 5;
}

.basket__A {
    position: absolute;
    left: 30px;
    top: 48%;
    width: 15px;
    height: 15px;
    z-index: 6;
}

.scoreboard__A {
    color: red;
}

.basket__B {
    position: absolute;
    right: 30px;
    top: 48%;
    width: 15px;
    height: 15px;
    z-index: 6;
}

.scoreboard__B {
    color: blue;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 47%;
    top: 44%;
    transition: linear 0.2s;
}

.scoreboard {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* END: Task 3 Styles */