<main class="main">
    <div class="area-wrapper">
        <div class="area" id="area">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
    <button class="reset__btn" id="reset">Reset</button>
</main>