/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,::after,::before{box-sizing:border-box}html{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar__container {
  max-width: 100%;
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
}

.navbar__logo {
  margin-top: 15px;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  padding: 0 30px;
}

.navbar__list-item{
  padding: 0 5px;
}

.list-item__link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 14px;
}

.list-item__link:active {
  color: #0078AA;
  transition: 0.5s;
}

.section-home {
  max-width: 1514px;
  width: 100%;
  min-height: 512px;
  background-image: url("../img/lady.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 33%;
}

.section-home__title {
  padding-top: 210px;
  text-align: center;
  font-size: 40px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}

.section-home__text {
  text-align: center;
  color: #9C9C99;
  margin-top: 10px;
  font-size: 18px;
}

.section-home__icons{
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.section-home__icons-svg {
  width: 52px;
  height: 52px;
  color: white;
  background-color: #0078AA;
  border-radius: 50%;
}

.section-home__icons-svg:active {
  color: #0078AA;
  background-color: white;
  border: 2px solid #0078AA;
  transition: 0.5s;
}

.arrow-to-top {
  width: 52px;
  height: 52px;
  color: white;
  background-color: #0078AA;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.arrow-to-top:active {
  color: #0078AA;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

.main {
  margin-top: 20px;
}

.section-about__img {
  min-height: 280px;
  max-width: 100%;
  display: block;
}

.section-about__info {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.section-about__title {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-about__subtitle {
  color: #0078AA;
  font-weight: normal;
  font-size: 18px;
  margin-top: 8px;
}

.section-about__article {
  max-width: 100%;
}

.article-title__span {
  color: #0078AA;
  margin-right: 10px;
}

.section-about__article-title {
  margin-bottom: 8px;
}

.section-about__article-text {
  margin-top: 8px;
  color: #475050;
}

.section-services {
  background-image: url("../img/services_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-services__container {
  text-align: center;
}

.section-services__container-title {
  font-size: 30px;
  margin-bottom: 8px;
}

.section-services__container-text {
  font-size: 15px;
  margin-top: 8px;
}

.section-services__cards-container {
  display: grid;
  grid-template-columns: 385px;
}

.section-services__card {
  max-width: 385px;
  width: 100%;
  min-height: 235px;
  background-color: white;
  margin-bottom: 25px;
  padding: 25px;
}

.section-services__card-title {
  margin-bottom: 0;
}

.section-services__card-text {
  margin-top: 8px;
}

.section-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-pricing__title {
  font-size: 30px;
  margin-bottom: 2px;
  text-align: center;
}

.section-pricing__text {
  font-size: 15px;
  margin-top: 2px;
  text-align: center;
}

.section-pricing__cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 1670px;
  width: 385px;
}

.section-pricing__card {
  background-color: #47C9E5;
  color: white;
  max-width: 385px;
  width: 100%;
  min-height: 540px;
  border: 2px solid #47C9E5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-pricing__card-special {
  background-color: white;
  color: #0078AA;
  max-width: 385px;
  width: 100%;
  min-height: 540px;
  border: 2px solid #0078AA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-pricing__card-title {
  font-size: 25px;
  margin-bottom: 8px;
}

.section-pricing__card-price {
  font-size: 60px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-pricing__card-subtitle {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: lighter;
  font-style: italic;
}

.section-pricing__card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.section-pricing__card-list--item {
  margin: 12px 0;
  font-size: 12px;
}

.section-pricing__card-btn {
  background-color: white;
  color: #0078AA;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #0078AA;
  border-radius: 15px;
  height: 50px;
  width: 116px;
}

.section-pricing__card-btn:active {
  background-color: #0078AA;
  color: white;
  transition: 0.5s;
}

.section-contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-contact__img {
  min-height: 260px;
  max-width: 100%;
  display: block;
}

.section-contact__container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-contact__container-title {
  font-size: 30px;
  margin-bottom: 8px;
  max-width: 265px;
  text-align: center;
}

.section-contact__container-text {
  font-size: 14px;
  margin-top: 2px;
}

.section-contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__item {
  width: 345px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  font-style: italic;
}

.form__btn {
  background-color: #0078AA;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #0078AA;
  border-radius: 15px;
  width: 92px;
  height: 44px;
  margin-bottom: 20px;
}

.form__btn:active {
  background-color: white;
  color: #0078AA;
  transition: 0.5s;
}

.footer {
  background-color: #363636;
  color: white;
  
}

.footer-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container__text {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__logo {
    margin-top: 0;
    margin-left: 15px;
  }

  .section-home {
    min-height: 650px;
    background-position-x: 40%;
  }

  .section-home__title {
    text-align: left;
    margin-left: 20px;
    max-width: 510px;
  }
  
  .section-home__text {
    text-align: left;
    margin-left: 20px;
    max-width: 450px;
  }
  
  .section-home__icons{
    margin: 0;
    margin-left: 20px;
  }

  .section-about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .section-about__img {
    max-width: 380px;
    width: 100%;
    min-height: 260px;
    margin-right: 40px;
  }

  .section-about__info {
    margin: 0;
    padding: 0;
    text-align: left;
    max-width: 330px;
    width: 100%;
  }

  .section-services__cards-container {
    grid-template-columns: 224px 224px 224px;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    margin-bottom: 60px;
  }

  .section-services__card {
    max-width: 225px;
    min-height: 270px;
    margin-bottom: 0;
    text-align: left;
  }

  .section-pricing {
    background-image: url("../img/pricing_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-pricing__container {
    max-width: 100%;
    width: 100%;
  }

  .section-pricing__cards-container {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-height: 570px;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
  }

  .section-pricing__card {
    max-width: 245px;
    min-height: 528px;
  }

  .section-contact__img {
    max-width: 384px;
    width: 100%;
  }

  .section-contact__container {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px){
  .section-home {
    max-width: 100%;
  }

  .section-home__container {
   margin-left: 170px;
  }

  .section-about__container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    justify-content: flex-start;
  }

  .section-about__img {
    max-width: 745px;
    width: 100%;
    min-height: 510px;
    margin-left: 30px;
  }

  .section-about__article-text {
    width: 400px;
  }

  .section-services__cards-container {
    grid-template-columns: 370px 370px 370px;
  }

  .section-services__card {
    max-width: 370px;
    min-height: 240px;
  }
  
  .section-pricing__cards-container {
    max-width: 1180px;
    min-height: 615px;
  }
   
  .section-pricing__card {
    max-width: 390px;
    min-height: 552px;
  }

  .section-pricing__card-special {
    min-height: 615px;
  }

  .section-contact__container {
    justify-content: flex-start;
  }

  .section-contact__img {
    max-width: 50%;
    min-height: 470px;
  }

  .section-contact__container-info {
    align-items: flex-start;
  }

  .section-contact__container-title {
    text-align: left;
    max-width: 100%;
  }

  .section-contact__spec-container {
    max-width: 50%;
    width: 100%;
    margin-left: 30px;
  }

  .section-contact__form {
    align-items: flex-start;
  }

  .form__item {
    max-width: 700px;
    width: 100%;
  }

  .list-item__link:hover {
    color: #0078AA;
    transition: 0.5s;
  }
  
  .section-home__icons-svg:hover {
    color: #0078AA;
    background-color: white;
    border: 2px solid #0078AA;
    transition: 0.5s;
  }

  .arrow-to-top:hover {
    color: #0078AA;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.5s;
  }

  .section-pricing__card-btn:hover {
    background-color: #0078AA;
    color: white;
    transition: 0.5s;
  }

  .form__btn:hover {
    background-color: white;
    color: #0078AA;
    transition: 0.5s;
  }

}